/* Begin reset */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* End Reset */

/* VARIABLE */
:root{
  /* FONT */
  --FF: "Roboto",sans-serif;
  --FS: min(2.25rem, 3vh);
  --FS_XL: 3rem;

  /* COLOR */
  --BGCOLOR: #475569; 
  --ALT-BGCOLOR: #1e293b;
  --RADIAL_COLOR: whitesmoke;
  --LIGHT_COLOR: whitesmoke;
  --DARK-COLOR: #000;

  /* GENERAL */
  --PADDING: 0.5em;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDER: 2px solid var(--DARK-COLOR);

  /* SQUARE */
  --SQUARE_BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);
}

@media(prefers-color-scheme: dark) {
  :root{
    --BG-COLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: gray;
    --SQUARE-BGCOLOR: purple;
  }
}


/* Utility classes */
.nowrap {
  white-space: nowrap;
}


/* End utility classes */


/* General classes */

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--FF);
  font-size: var(--FS);
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL_COLOR), #475569);
  display: flex;
  flex-direction: column;
}

header, footer {
  position: sticky;
  background-color: var(--ALT-BGCOLOR);
  color: var(--LIGHT_COLOR);
  grid-template-columns: 100%;
  text-align: center;
}

header {
  top: 0;
}

nav {
  background-color: var(--LIGHT_COLOR);
  border-bottom: var(--BORDER);
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  box-shadow: var(--SHADOWS);
}

nav a, nav a:visited {
  color: #000;
}



nav a:hover, nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);

}

nav a:active {
  color: red;
}

main {
  /* padding: 10px 0; */
  flex-grow: 1;
  padding: var(--PADDING);
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: min(4vw, 15px); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

footer {
  bottom: 0;
}

/* PROFILE CARD */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 250px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:target{
  border: 2px solid rebeccapurple;
}

.card figure {
  display: flex;
  flex-flow:column nowrap;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}

.card img:not([alt]){
  border: 10px solid red;
}

.card:nth-child(odd) {
  background-color: papayawhip;
}

.card figcaption {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.card figcaption::after {

  content: 'sparkle';
  display: block; 
}

.card p {
  position: relative;
}

.card p::before {
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
}

.card p::after{
  content:close-quote;
  font-size:3em;
  position: absolute;
  top:0.25em;
  right: -0.5em;
}



/* SMALL */
  @media screen and (min-width: 576px) {
    main {
      justify-content: center;
      flex-flow: row wrap;
    }
    .card {
      width: min(100%, 400px);

    }
    .card:last-child {
      order: -1;
    }
}

/* MEDIUM */
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }
  .card {
    width: min(100%, 325px);
  }
  .card figure {
    flex-flow: column-reverse;
  }
  .card p {
    margin-top: 1em;
  }
}

/* LARGE */ 
@media screen and (min-width: 992px) {
  .card {
    width: min(100%, 400px);
  }
  .card :nth-child(2) {
    order: -1;
  }
}

/* XL */
@media screen and (min-width: 1200px) {
  .card {
    width: min(calc(33% - 1rem), 500px)
  }
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) 
and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;

  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }
  .card figcaption, .card p {
    font-size: 1.25rem;

  }
}

/* FEATURES */
.square--highlight {
  --SQUARE-BGCOLOR: cornflowerblue;
}

.square {
  background-color: var(--SQUARE_BGCOLOR);
  width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE);
  border: var(--BORDER);
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FS_XL);
  box-shadow: var(--SHADOWS);
}