header {
  display: fixed;
}


html {
  font-size: 22px
}

body {
  background-color: #333;
  color: whitesmoke;
}

hr {
  height: 2px;
    background-color: lightblue;
    border:none;
}

ul {
  list-style-type: none;
  
}
li {
  margin-bottom: 1px;;
}

a {
  color: aliceblue;

}

a:visited {
  color: lightgrey;
}

a:hover, a:active {
  color: #eee;
}

table, tr, th, td, caption {
  border: 1px solid #eee;
  font-family:'Courier New' Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}